@font-face {
    font-family: 'main';
    src: url(KZ_Dusha.ttf);
}
@font-face {
    font-family: 'kz';
    src: url(KZ_Mon_Amour_One.ttf);
}
@font-face {
    font-family: 'kz2';
    src: url(KZ_Mon_Amour_One.ttf);
}
