@font-face {
    font-family: 'main';
    src: url(/src/fonts/KZ_Dusha.ttf);
}
@font-face {
    font-family: 'kz';
    src: url(/src/fonts/KZ_Mon_Amour_One.ttf);
}
@font-face {
    font-family: 'kz2';
    src: url(/src/fonts/KZ_Mon_Amour_One.ttf);
}