@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@import url('../fonts/fonts.css');

body {
    background-image: url(../img/bg.jpg);
    background-position: 0% 0%;
    background-size: cover;
    font-family: 'kurale';
    transition: .3s;
}
